#############################################################################################
### Annotations:

GENOME = ""

INPUT_GTF = ""
INPUT_FASTA = ""
INPUT_BED = ""

#############################################################################################
### Singularity:
IMAGE = "/path/to/singularity/image/prb.sif"
SINGULARITY_ACTIVATE_COMMAND = "module load --silent singularity"

#############################################################################################
### Directories:

BASEDIR = ""
WORKDIR = "prb_output"
MODULES = "prb_pipeline/modules"

#############################################################################################
### Settings: 

OLIGO_LENGTH = 40
OLIGO_SUBLENGTH = 21
SPACING_FACTOR = 10

#############################################################################################
### Information:

## GENOME:           reference genome [.fa] or [.fa.gz] with [.fai] / [.gzi] index files
## BASEDIR:          directory where both workdir and modules will be found
## OLIGO_LENGTH:     length of oligos to be searched for
## OLIGO_SUBLENGTH:  sublength to speed-up computation
## SPACING_FACTOR:   used to calculate [N] window oligo-density (max of oligos/input)
## ------------------------------->  N = ( WIDTH / ( OLIGO_LENGTH + SPACING_FACTOR ))
## IMAGE:            singularity image with all required tools
## SINGULARITY_ACTIVATE_COMMAND: ----------------------------------------------------
## ----------------- command used to activate singularity, such as "module" or "conda" 

